<%- include('header') %>
    <div class="process">
        <img src="./assets/process-icecream.jpg" alt="ice cream" id="process-pic">
        <div class="c1">
            <h4>HOW IT'S MADE</h4>
            <h1>A TASTE OF PARADISE !</h2>
            <p>Indulge in the taste of paradise with every scoop of my ice cream, where creamy swirls of sweetness dance on your taste buds.</p>
            <div class="methods" id="method1">
                <div class="p">
                    <i class="fa-regular fa-thumbs-up"></i>
                    <h4>HYGIENIC PROCESS</h4>
                    <p> The ice cream is crafted through a <br>hygienic process, ensuring purity and safety.</p>
                </div>
                <div class="p">
                    <i class="fa-regular fa-lightbulb"></i>
                    <h4>MORDERN EQUIPMENT</h4>
                    <p>State-of-the-art modern equipment is employed in <br>its production, guaranteeing efficiency and precision</p>
                </div>
            </div>
        </div>
    </div>
    <div class="methods" id="method2">
        <div class="p">
            <i class="fa-regular fa-square-plus"></i>
            <h4>BIO MILK AND CREAM</h4>
            <p>Bio milk and cream, sourced from organic farms, <br>form the base of our creamy delight.</p>
        </div>
        <div class="p">
            <i class="fa-regular fa-lemon"></i>
            <h4>FRESH FRUIT ADDED</h4>
            <p>Fresh fruits, carefully selected for their quality <br>and flavor, are added to enhance the taste and nutrition.</p>
        </div>
        <div class="p">
            <i class="fa-regular fa-gem"></i>
            <h4>DELICIOUS ICECREAM</h4>
            <p>The culmination of these steps results in a delicious <br> ice cream, a treat for the senses.</p>
        </div>
        </div>
<%- include('footer') %>