<%- include('header') %>
<div class="contact-page">
    <div class="contact-info" id="contact-page-info">
        <div class="c">
            <label for="name">Name :</label>
            <input type="text" placeholder="Enter your name .." id="name">
        </div>
        <div class="c">
            <label for="email">Email :</label>
            <input type="email" placeholder="Enter your email .." id="email">
        </div>
        <div class="c">
            <label for="contactNumber">Phone no :</label>
            <input type="number" placeholder="Enter your phone number .." id="contactNumber">
        </div>
        <div class="c">
            <label for="contact-address">Address :</label>
            <textarea placeholder="Enter your address .." id="contactAddress"></textarea>
        </div>
        <div class="contact-button">
            <button class="bt5">Submit</button>
        </div>
    </div>
    <img src="/assets/contact-photo.jpeg" alt="contact-photo" id="contact-photo">
</div>
<%- include('footer') %>