<footer>
    <div class="f1">
        <h3>SUBSCRIBE TO OUR NEWSLETTER</h3>
        <h5> Your Email</h5>
        <button class="bt1"> Subscribe </button>
    </div>
    <hr>
    <div class="f2">
        <div class="nav2 f2A">
            <img src="./assets/icecream.jpg" id="logo" alt="">
            <p>The best icecream sellers of the <br>
            City of Lakes Bhopal </p>
        </div>
        <div class="nav2 f2B">
            <h3>GET IN TOUCH</h3>
            <span><i class="fa-solid fa-location-dot"></i>Sagar High Street, Minal Residency</span> <br><br><br>
            <span><i class="fa-solid fa-envelope"></i>frostydelight@gmail.com</span> <br><br><br>
            <span><i class="fa-solid fa-phone"></i>+91(234)567890</span><br><br>
            <div class="social-icons" id="social2">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>                
        </div>
        <div class="nav2 f2C">
            <h3>Quick Links</h3>
            <a href="https://frosty-delight-icecream-1.onrender.com/">Home</a>
            <a href="https://frosty-delight-icecream-1.onrender.com/about">About</a>
            <a href="https://frosty-delight-icecream-1.onrender.com/menu">Menu</a>
            <a href="https://frosty-delight-icecream-1.onrender.com/bag">Cart</a>
            <a href="https://frosty-delight-icecream-1.onrender.com/contact">Contact</a>
        </div>
        <div class="nav2 f2D">
            <h3>Opening Hours</h3>
            <p>Mon-Fri: 09:00-18:00</p>
            <p>Saturday: 10:00-17:00</p>
            <p>Sunday: 10:00-17:00</p>
            <form action="/menu">
                <button class="bt3">Shop now <i class="fa-solid fa-arrow-right"></i></button>
            </form>
        </div>
    </div>
    <hr>
    <div class="f3">
        <p>Copyright @2024</p>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms and Conditions</a>
    </div>
</footer>