<%- include('header') %>
<main>
    <h4 id="m1">OUR PRODUCTS</h4>
    <div id="m2" >REAL ICECREAM FOR REAL <br> PEOPLE!</div>
    <div class="menu">
        <div class="card" id="ice-box" >
            <img src="./assets/icecream.jpg" alt="ice-cream" class="menu-pic">
            <div class="box">
                <h2 class="box-att">Ice Creams</h2>
                <h4 class="box-att">⭐️⭐️⭐️⭐️⭐️</h4>
                <p class="box-att">"Crunchy cones cradle creamy indulgence, a delightful treat with every lick."</p>
                <form action="/menu#ice-head" method="get">
                    <button class="bt1 menu-btn">Order now</button>
                </form>
            </div>
        </div>
        <div class="card" id="yog-box">
            <img src="./assets/yogurt.png" alt="yogurt" class="menu-pic">
            <div class="box">
                <h2 class="box-att">Yogurt</h2>
                <h4 class="box-att">⭐️⭐️⭐️⭐️⭐️</h4>
                <p class="box-att">""Tangy, creamy yogurt, a refreshing swirl of probiotic goodness.""</p>
                <form action="/menu#yog-head" method="get">
                    <button class="bt1 menu-btn">Order now</button>
                </form>
            </div>
        </div>
        <div class="card" id="milk-box">
            <img src="./assets/milk-shake.jpeg" alt="milk-shake" class="menu-pic">
            <div class="box" >
                <h2 class="box-att">Milkshakes</h2>
                <h4 class="box-att">⭐️⭐️⭐️⭐️⭐️</h4>
                <p class="box-att">""Velvety milkshake bliss, a symphony of <br>flavors in every sip.""</p>
                <form action="/menu#milk-head" method="get">
                    <button class="bt1 menu-btn">Order now</button>
                </form>
            </div>
        </div>
    </div>
    <div class="main-menu">
    <div class="ice-left">
        <div class="ice-cream">
        <h4>Vanilla</h4>
        <p>Classic creamy goodness.</p>
        <hr>
        </div>  
        <div class="ice-cream">
        <h4>Chocolate</h4>
        <p>Rich and indulgent delight.</p>
        <hr>
        </div>
        <div class="ice-cream">
        <h4>Strawberry</h4>
        <p>Fresh and fruity sensation.</p>
        <hr>
        </div>
        <div class="ice-cream">
        <h4>Mint Chocolate Chip</h4>
        <p>Cool and refreshing with chocolate crunch.</p>
        <hr>
        </div>
    </div>
    <div class="ice-right">
        <div class="ice-cream">
            <h4>Cookies and Cream</h4>
            <p>Crunchy, creamy cookie bliss.</p>
            <hr>
        </div>
            <div class="ice-cream">
                <h4>Rocky Road</h4>
                <p>Chocolaty, nutty, marshmallow dream.</p>
                <hr>
            </div>
        
            <div class="ice-cream">
                <h4>Butter Pecan</h4>
                <p>Rich buttery flavor with crunchy pecans.</p>
                <hr>
            </div>
        
            <div class="ice-cream">
                <h4>Salted Caramel</h4>
                <p>Sweet and salty perfection.</p>
                <hr>
            </div>
    </div>

    </div>
    <h2 id="m2">Today's Special</h3>
    <div class="special">
        <div class="s">
            <img src="./assets/bluberry.png" alt="blueberry" class="special-image">
            <h4>Blueberry</h4>
            <p>creamy sweetness with tangy bursts of fruit</p>
            <h5>&#8377 154 </h5>
        </div>
        <div class="s">
            <img src="./assets/cappucino.png" alt="Cappuccino" class="special-image">
            <h4>Cappuccino</h4>
            <p>a rich blend of coffee and creaminess</p>
            <h5>&#8377 176 </h5>
        </div>
        <div class="s">
            <img src="./assets/mango.png" alt="Mango" class="special-image">
            <h4>Mango</h4>
            <p>tropical sweetness in a creamy frozen treat</p>
            <h5>&#8377 140 </h5>
        </div>
        <div class="s">
            <img src="./assets/pistachio.png" alt="Pistachio" class="special-image">
            <h4>Pistachio</h4>
            <p> nutty richness in creamy indulgence</p>
            <h5>&#8377 120 </h5>
        </div>
    </div>
    <div class="menu2">
        <div class="menu2A">
            <div class="a1 pic">
                <h4>Signature Menu</h4>
                <h3>RED BERRY MIX</h3>
            </div>
            <div class="a2">
                <h3>SALTY BREEZE</h3>
                <p>Ocean-inspired salt meets creamy sweetness.</p>
                <hr>
                <h3>LATE PUMPKIN</h3>
                <p>A tardy twist on pumpkin spice.</p>
                <hr>
                <h3>BLACK REAPER</h3>
                <p>Intensely fiery black reaper peppers ignite.</p>
                <hr>
                <h3>SLIGHT SALTY</h3>
                <p>Subtly tinged with saltiness.</p>
                <hr>
            </div>
        </div>
        <div class="menu2B">
            <div class="b1">
                <h3>SALTY BREEZE</h3>
                <p>Ocean-inspired salt meets creamy sweetness.</p>
                <hr>
                <h3>LATE PUMPKIN</h3>
                <p>A tardy twist on pumpkin spice.</p>
                <hr>
                <h3>BLACK REAPER</h3>
                <p>Intensely fiery black reaper peppers ignite.</p>
                <hr>
                <h3>SLIGHT SALTY</h3>
                <p>Subtly tinged with saltiness.</p>
                <hr>
            </div>  
            <div class="b2 pic">
                <h4>Signature Menu</h4>
                <h3>CREAMY MIX</h3>
            </div>
        </div>
    </div>
    <div class="banner">
        <h4>SPECIAL DISCOUNT</h4>
        <H2>GET SPECIAL FESTIVAL <br>DISCOUNT!</H2>
        <div class="banner-button">
            <button class="bt2" id="products-bt2">Our Products <i class="fa-solid fa-arrow-right"></i></button>
            <button class="bt1" id="contact-bt1">Contact us <i class="fa-solid fa-phone"></i></button>
        </div>
    </div>
    </main>
<%- include('footer') %>
