/* CSS BOILERPLATE */
*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
/* Images Styles */
#logo{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin: 10px 10px 10px 20px;
    mix-blend-mode: color-burn;
}
.top img{
    transform: scale(1.5)
}
.menu-pic{
    height: 220px;
    width: 220px;
    border-radius: 50%;
    transform: translate(60px, -60px);
}
.special-image{
    height: 200px;
    width: 200px;
}
#process-pic{
    height: 400px;
    width: 400px;
    border-radius: 30px;
}
#contact-photo{
    height: auto;
    width: 30vmax;
}

/* Button Styles */

.bt1{
    height: 50px;
    width: 125px;
    border-radius: 30px;
    color: #d10d46;
    cursor: pointer;
    margin: 0px 20px
}
.bt2{
    height: 50px;
    width: 125px;
    border-radius: 30px;
    color: white;
    background-color: rgb(201, 21, 70);
    cursor: pointer;
}
.bt3{
    border: none;
    background-color: rgb(245, 178, 195);
    color: white;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
    border-radius: 10px;
}
.bt3:hover{
    background-color: #c91546;
}
.bt4{
    background-color: #c91546;
    color: white;
    cursor: pointer;
    height: auto;
    width: auto;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
}
.bt5{
    background-color: #d10d46;
    color: white;
    cursor: pointer;
    margin-top: 30px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.bt5:hover{
    background-color: white;
    color: black;
}
/* Header Styles */
header{
    width: 100%;
    height: 17vmax;
    background-image: url("./assets/try.png");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(0.8);
}
.top{
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.nav{
    margin-top: 30px;
}
.nav a{
    color: white;
    margin: 30px;
    font-size: 1.2rem;
    border: 1px solid lightgray; 
    padding: 10px;
    border-radius: 30px;
    transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
}
.nav a:hover{
    color: #d10d46;
    text-decoration: underline;
}
#social{
    margin-right: 40px;
    margin-top: 20px;
}

#our-menu{
    text-align: center;
    color: #d10d46;
    font-size: 40px;
    font-weight: 600px;
}
.main-head{
    transform: translate(0px -100px);
}
.bar{
    position: fixed;
    right: 0.5vmax;
    top: 2vmax;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
    display: none;
}

/* Main Styles */

main{
    margin-top: 100px;
}
#m1{
    color: rgb(201, 21, 70);
    text-align: center;
    font-weight: lighter;
}
#m2{
    color: #c91546;
    text-align: center;
    font-weight: 600;
    font-size: 2.5em;
    margin: 20px;
}
.menu{
    margin: 50px 0px;
    display: flex;
    justify-content: space-evenly;
}
.card{
    height: auto;
    width: 350px;
    border-radius: 20px;
    margin-top: 100px;
}
#ice-box{
    background-color: #f5b2c3;
    border: 1px solid #f5b2c3;
    box-shadow: 5px 5px #f5b2c3;
}
#yog-box{
    background-color: #b9da91;
    border: 1px solid #b9da91;
    box-shadow: 5px 5px #b9da91;
}
#milk-box{
    background-color: #e9c99e;
    border: 1px solid #e9c99e;
    box-shadow: 5px 5px #e9c99e;
}
.box-att{
    text-align: center;
    margin: 10px 0px;
}
.menu-btn{
    margin: 20px 110px;
}
.main-menu{
    display: flex;
    justify-content: space-around;
}
.ice-cream{
    margin-bottom: 40px;
}
.ice-cream h4{
    color: #c91546;
    margin-bottom: 10px;
    font-size: 20px;
}
.left, .right{
    display: flex;
    flex-direction: column;
}
.box{
    margin-top: -50px
}
.special{
    display: flex;
    justify-content: space-evenly;
    margin: 25px 0px 50px 0px;
}
.s{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s h4{
    color: #c91546;
}

.menu2{
    height: auto;
    width: 100vw;
    background-color: #f2edea;
}

.a1{
    height: 400px;
    width: 400px;
    background-image: url(./assets/Mixed\ Berry\ Ice\ Cream.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 50px;
    border-radius: 30px;
}
.pic h4{
    color: #777474;
    margin-left: 15px;
}
.pic h3{
    color: #c91546;
    margin: 7px 0px 20px 15px;
    font-size: 1.8em;

}
.b2{
    height: 400px;
    width: 400px;
    background-image: url(./assets/creamy-mix.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 50px 0px;
    border-radius: 30px;

}
.a2{
    margin-top: 100px;
}
.a2 h3{
    color: #c91546;
    margin-top: 30px;
}
.menu2A{
    display: flex;
    justify-content: space-evenly;
}
.menu2B{
    display: flex;
    justify-content: space-evenly;
}
.b1{
    margin-top: 100px;
}
.b1 h3{
    color: #c91546;
    margin-top: 30px;
}
.process{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
.methods{
    display: flex;
    justify-content: space-around;
    margin: 80px 0px 50px -50px ;
}
.p{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p>i{
    font-size: 22px;
    margin-bottom: 20px;
}
.p h4{
    color: #c91546;
    margin: 10px 0px;
    font-size: 1.3em;
}
.p p{
    text-align: center;
}
.c1 h1{
    font-weight: 700;
    color: #c91546;
    margin: 15px 0px
}

.banner{
    height: 300px;
    width: 80%;
    border-radius: 30px;
    margin: 100px auto;
    background-image: url(./assets/banner.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner h2{
    text-align: center;
    color: maroon;
    font-weight: bold;
    margin: 30px 0px;
}

/* footer Styles */
footer{
    width: 100vw;
    height: auto;
    background-color: rgb(215, 134, 152);
    margin-top:  100px;
}
.f1{
    color: white;
}
.f1, .f3{
    display: flex;
    justify-content: space-around;
}
.f1 h3, .f1 h5{
    margin-top: 30px;
    margin-bottom: 20px;
}
.f1 button{
    margin: auto 0px;
}
.f2{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.nav2{
    display: flex;
    flex-direction: column;
}
.nav2 h3{
    color: white;
    margin-bottom: 50px;
}
.nav2 span{
    color: white;
    opacity: 0.9;
}
.nav2 i{
    margin-right: 10px;
    color: maroon;
    opacity: 1;
}
.social-icons{
    display: flex;
}
.social-icons i{
    color: white;
    margin: 10px;
}
.social-icons i:hover{
    font-size: 1.1rem;
    color: #c91546;
    cursor: pointer;
}
.nav2 a{
    margin: 20px;
    margin-top: 0px;
    color: white;
}
.nav2 a:hover{
    text-decoration: underline;
}
.nav2 p{
    color: white;
    margin-bottom: 20px;
}
.bt3 i{
    margin-left: 5px;
    color: white;
}
.f3{
    color: white;
    margin-top: 20px;
}
.f3 a{
    color: white;
}

/* Contact page */

.contact-page{
    margin: 10vmax 5vmax;
    display: flex;
    justify-content: space-between;
    border: 2px solid lightgray;
    border-radius: 10px;
    padding-left: 2vmax;
}
.contact-info{
    padding: 20px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 0vmax;
}
.c{
    display: flex;
    flex-direction: column;
}
.c input{
    height: 4vmax;
    width: 38vmax;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 12px;
    font-weight: 300;
    padding: 10px;
    margin-bottom: 20px;
}
#contactAddress{
    height: 10vmax;
    width: 38vmax;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 12px;
    font-weight: 300;
    padding: 10px;
    resize: none;
}

.contact-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Order Styling */

.bag{
    margin: 5vmax;
    display: flex;
    justify-content: space-between;
    border: 2px solid lightgray;
    border-radius: 10px;
}
.left h1{
    text-align: center;
    margin: 50px 0px;
    text-decoration: underline;
    font-size: 3em;
}
.left{
    width: 60%;
}
.order{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40vmax;
    border: 2px solid lightgray;
    margin: 30px;
    border-radius: 10px;
}
.order-inner{
    display: flex;
    align-items: center;
}
#trash{
    cursor: pointer;
    border: none;
}
#order-image{
    height: 60px;
    width: 60px;
    border-radius: 5px;
    margin: 0px 30px;
}
/* Menu Stylings */
.menu-head{
    margin: 80px 0px 20px 0px;
    text-align: center;
    color: #c91546;
    text-decoration: underline;
}

#menu-photo{
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
.menu-main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px 80px;
}


.menu-inner{
    flex: 1 0 10%;
    display: flex;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 60px;
}
.menu-inner h3{
    margin: 20px 0px 20px 10px;
}
.addToCart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: -10px;
}
/* Ordered styling */

.ordered{
    margin: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid lightgray;
    height: auto;
    width: 500px;
    padding: 50px;
    transform: translateX(350px);
    border-radius: 10px;
}
.ordered h5{
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: 100;
}
.ordered h1{
    color: #c91546;
    font-size: 2.4em;
}
.ordered p{
    margin: 4px 0px;
    font-size: 1.2em;
}